PassengerProtectProgram/Workflows/Recurrence-DeleteTravellerafter7daysifnomatch-25235FC5-3D9C-EA11-A812-000D3A0C86A9.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Eastern Standard Time","schedule":{"hours":["1","11"],"minutes":[50]}},"type":"Recurrence"}},"actions":{"Apply_to_each_Traveller":{"foreach":"@outputs('List_All_Travellers')?['body/value']","actions":{"Clear_Traveller_Information":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ppp_travellers","id":"@items('Apply_to_each_Traveller')?['ppp_travellerid']","item/ppp_dateofbirth":"@null","item/ppp_firstname":"@null","item/ppp_gender":"@null","item/ppp_lastname":"@null","item/ppp_middlename":"@null","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"If_Status_is_not_closed":{"actions":{"Set_status_to_Unresolved_and_set_Final_status_date":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ppp_travellers","id":"@items('Apply_to_each_Traveller')?['ppp_travellerid']","item/ppp_finalstatustime":"@utcNow()","item/ppp_recordstatus":927820005,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Clear_Traveller_Information":["Succeeded"]},"expression":{"not":{"equals":["@items('Apply_to_each_Traveller')?['ppp_recordstatus']",927820002]}},"type":"If"}},"runAfter":{"List_All_Travellers":["Succeeded"]},"type":"Foreach"},"List_All_Travellers":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orge8c18199.crm3","table":"ppp_travellers","$filter":"ppp_matchfound ne 927820000 and ((ppp_closeddate lt @{addDays(utcNow(),-7)} and ppp_recordstatus eq 927820002) or (ppp_flightorigindate lt @{addDays(utcNow(),-7)} and (ppp_recordstatus ne 927820002 or ppp_recordstatus ne 927820005) and ppp_matchfound ne 927820001))"},"authentication":"@parameters('$authentication')"},"description":"All closed, no match or not closed, flight scheduled 7 days ago."}},"outputs":{}}},"schemaVersion":"1.0.0.0"}