PassengerProtectProgram/Workflows/Recurrence-DeleteTravelerafter7years-5FFD45AE-E6B6-EA11-A812-000D3A0C8127.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"schedule":{"weekDays":["Saturday"],"hours":["1"]}},"type":"Recurrence"}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ppp_travelers","$filter":"Microsoft.Dynamics.CRM.OlderThanXYears(PropertyName='modifiedon',PropertyValue=7)"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Delete_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ppp_travelers","id":"@items('Apply_to_each')?['ppp_travelerid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}