PassengerProtectProgram/Workflows/RemovepersonaldatafromNoMatchrecordsclosedover7day-25235FC5-3D9C-EA11-A812-000D3A0C86A9.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Eastern Standard Time","schedule":{"hours":["1"]}},"type":"Recurrence"}},"actions":{"Apply_to_each_Traveller":{"foreach":"@outputs('List_All_Travellers')?['body/value']","actions":{"Clear_Traveller_Information":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ppp_travellers","id":"@items('Apply_to_each_Traveller')?['ppp_travellerid']","item/ppp_dateofbirth":"@null","item/ppp_firstname":"@null","item/ppp_gender":"@null","item/ppp_lastname":"@null","item/ppp_middlename":"@null","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_All_Travellers":["Succeeded"]},"type":"Foreach"},"List_All_Travellers":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orge8c18199.crm3","table":"ppp_travellers","$filter":"ppp_matchfound neq 927820001 and (ppp_finalstatustime lt @{addDays(utcNow(),-7)} and (ppp_recordstatus eq 927820002 or ppp_recordstatus eq 927820005)"},"authentication":"@parameters('$authentication')"},"description":"Match Found is No, final status time is over a week ago, status is closed or unresolved."}},"outputs":{}}},"schemaVersion":"1.0.0.0"}