PassengerProtectProgram/Workflows/SendDraftCreatedNotificationtoOwnerofTravellerReco-FA47FA65-77B1-EA11-A812-000D3A0C86A9.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Traveller_status_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orge8c18199.crm3","table":"ppp_travellers","scope":"Organization","subscriptionRequest/AttributeFilters":["ppp_recordstatus"]},"authentication":"@parameters('$authentication')"}}},"actions":{"If_the_status_was_changed_to_draft":{"actions":{"Owner_of_Traveller_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orge8c18199.crm3","table":"systemusers","id":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"Send_a_Draft_Created_notifaction_to_Owner_of_Traveller_Record":{"runAfter":{"Owner_of_Traveller_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Owner_of_Traveller_Record')?['body/internalemailaddress']","emailMessage/Subject":"Draft Created: @{triggerOutputs()?['body/ppp_name']}","emailMessage/Body":"<p>Traveller @{triggerOutputs()?['body/ppp_name']} set to Draft status.<br>\n<br>\nhttps://tsis2-dev-tcd365.crm3.dynamics.com/main.aspx?appid=a3e514ae-879b-ea11-a812-000d3a0c8127&amp;pagetype=entityrecord&amp;etn=ppp_traveller&amp;id=@{triggerOutputs()?['body/ppp_travellerid']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/ppp_recordstatus']","Draft"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}