PassengerProtectProgram/Workflows/SendManagerTeamNotificationofTrueMatch-110BB8DB-F1D7-EA11-A813-000D3A0C8127.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_with_matchfound_YES":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"ppp_traveller","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ppp_matchfound","subscriptionRequest/filterexpression":"ppp_matchfound eq 927820000"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_owner_of_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"List_Users_in_PPP_Manager_Team":{"runAfter":{"Get_owner_of_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"(teammembership_association/any(t:t/name eq 'ppp manager'))"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_Users_in_PPP_Manager_Team')?['body/value']","actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Get_owner_of_Record')?['body/internalemailaddress']};","request/subject":"Traveller Validation True Match Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']}","request/text":"<p>(This email will be sent to Manager @{items('Apply_to_each_2')?['internalemailaddress']} after testing)<br>\n<br>\nMatch Confirmed for Traveller Validation Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']}.<br>\n<br>\nRecord Created by @{outputs('Get_owner_of_Record')?['body/firstname']} @{outputs('Get_owner_of_Record')?['body/lastname']}.<br>\n<br>\n<br>\n<br>\n<br>\n<br>\n</p>","request/bcc":" "},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Users_in_PPP_Manager_Team":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}