PassengerProtectProgram/Workflows/SendManagerTeamNotificationofAirCarrierInquiry-D49C312F-1BD8-EA11-A813-000D3A0C86A9.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"ppp_traveller","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ppp_calltype"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"List_Teams_with_name_PPP_Manager":{"runAfter":{"Get_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'PPP Manager'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_Teams_with_name_PPP_Manager')?['body/value']","actions":{"List_Memberships_in_PPP_Manager_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teammemberships","$filter":"teamid eq @{items('Apply_to_each')?['teamid']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_Memberships_in_PPP_Manager_Team')?['body/value']","actions":{"Get_Manager_User":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@items('Apply_to_each_2')?['systemuserid']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)_2":{"runAfter":{"Get_Manager_User":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Get_Owner')?['body/internalemailaddress']};","request/subject":"Traveller Validation Air Carrier Inquiry Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']}","request/text":"<p>(This email will be sent to Manager @{outputs('Get_Manager_User')?['body/internalemailaddress']} after testing)<br>\n<br>\nTraveller Validation Air Carrier Inquiry for Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']}.<br>\n<br>\nRecord created by @{outputs('Get_Owner')?['body/firstname']} @{outputs('Get_Owner')?['body/lastname']}.<br>\n<br>\n<br>\n<br>\n<br>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Memberships_in_PPP_Manager_Team":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_Teams_with_name_PPP_Manager":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/ppp_calltype']",927820002]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}