PassengerProtectProgram/Workflows/SendTravellerRecordClosedNotification-30400648-4AAB-EA11-A812-000D3A0C8127.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_status_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orge8c18199.crm3","table":"ppp_travellers","scope":"Organization","subscriptionRequest/AttributeFilters":["ppp_recordstatus"]},"authentication":"@parameters('$authentication')"}}},"actions":{"If_the_Record_Status_was_changed_to_Closed":{"actions":{"Get_Owner_of_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orge8c18199.crm3","table":"systemusers","id":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"If_a_Match_was_found":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Owner_of_Record')?['body/internalemailaddress']","emailMessage/Subject":"Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']} Closed. Match Found.","emailMessage/Body":"<p>Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']} has been Closed.<br>\nA match of the traveller was found.<br>\n<br>\nTraveller Name: @{triggerOutputs()?['body/ppp_firstname']} @{triggerOutputs()?['body/ppp_middlename']} @{triggerOutputs()?['body/ppp_lastname']}<br>\nAir Carrier: @{triggerOutputs()?['body/_ppp_aircarrier_value']}<br>\nFlight Number: @{triggerOutputs()?['body/ppp_flightnumber']}<br>\n<br>\nRecord Owner: @{outputs('Get_Owner_of_Record')?['body/firstname']} @{outputs('Get_Owner_of_Record')?['body/lastname']}<br>\n<br>\nRecord Link: https://tsis2-dev-tcd365.crm3.dynamics.com/main.aspx?appid=a3e514ae-879b-ea11-a812-000d3a0c8127&amp;pagetype=entityrecord&amp;etn=ppp_traveller&amp;id=@{triggerOutputs()?['body/ppp_travellerid']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Manager_of_Owner":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Owner_of_Record')?['body/internalemailaddress']","emailMessage/Subject":"Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']} Closed. Match Not Found.","emailMessage/Body":"<p>Record Number @{triggerOutputs()?['body/ppp_travellerautonumber']} has been Closed.<br>\nNo match of the traveller was found.<br>\n<br>\nTraveller Name: @{triggerOutputs()?['body/ppp_firstname']} @{triggerOutputs()?['body/ppp_middlename']} @{triggerOutputs()?['body/ppp_lastname']}<br>\nAir Carrier: @{triggerOutputs()?['body/_ppp_aircarrier_value']}<br>\nFlight Number: @{triggerOutputs()?['body/ppp_flightnumber']}<br>\n<br>\nRecord Owner: @{outputs('Get_Owner_of_Record')?['body/firstname']} @{outputs('Get_Owner_of_Record')?['body/lastname']}<br>\n<br>\nRecord Link: https://tsis2-dev-tcd365.crm3.dynamics.com/main.aspx?appid=a3e514ae-879b-ea11-a812-000d3a0c8127&amp;pagetype=entityrecord&amp;etn=ppp_traveller&amp;id=@{triggerOutputs()?['body/ppp_travellerid']}</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/ppp_matchfound']",927820000]},"type":"If"},"Get_Manager_of_Owner":{"runAfter":{"Get_Owner_of_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orge8c18199.crm3","table":"systemusers","id":"@outputs('Get_Owner_of_Record')?['body/_parentsystemuserid_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/ppp_recordstatus']",927820002]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}