PassengerProtectProgram/Workflows/SendNotificationtoManagerTeamofDecisionnotmatching-818D5F40-F6DB-EA11-A813-000D3A0C8127.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"ppp_traveller","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ppp_directionoptions,ppp_casebriefoptions,ppp_nominatingagencyoptions"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"List_Managers_in_PPP_Manager_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"(teammembership_association/any(t:t/name eq 'ppp manager'))"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_Managers_in_PPP_Manager_Team')?['body/value']","actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@outputs('Get_Owner')?['body/internalemailaddress']","request/subject":"Traveller Validation Decision and Recommendation Discrepancy","request/text":"<p>(This email will be sent to manager @{items('Apply_to_each_2')?['internalemailaddress']} &nbsp;after testing)<br>\n<br>\nRecord Number @{triggerOutputs()?['body/ppp_travellerautonumber']} has a Decision that does not match a Recommendation.<br>\n<br>\nRecord created by @{outputs('Get_Owner')?['body/firstname']} @{outputs('Get_Owner')?['body/lastname']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Managers_in_PPP_Manager_Team":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Owner":["Succeeded"]},"expression":{"and":[{"or":[{"not":{"equals":["@triggerOutputs()?['body/ppp_directionoptions']","@triggerOutputs()?['body/ppp_nominatingagencyoptions']"]}},{"not":{"equals":["@triggerOutputs()?['body/ppp_directionoptions']","@triggerOutputs()?['body/ppp_casebriefoptions']"]}}]},{"and":[{"not":{"equals":["@triggerOutputs()?['body/ppp_directionoptions']","@null"]}}]},{"or":[{"not":{"equals":["@triggerOutputs()?['body/ppp_nominatingagencyoptions']","@null"]}},{"not":{"equals":["@triggerOutputs()?['body/ppp_casebriefoptions']","@null"]}}]}]},"type":"If","description":"If (Direction != Nominating or Direction != Case Brief) and (Direction != null) and (Nominating !=null or Nominating != null)"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}