PassengerProtectProgram/Workflows/SendNotificationtoManagerTeamofDecisionnotmatching-0C8A8D18-0AD8-EA11-A813-000D3A0C8127.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orge8c18199.crm3","table":"ppp_travellers","scope":"Organization","subscriptionRequest/AttributeFilters":["ppp_directionoptions","ppp_casebriefoptions","ppp_nominatingagencyoptions"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"List_Team_with_name_PPP_Manager":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'PPP Manager'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_Team_with_name_PPP_Manager')?['body/value']","actions":{"List_Memberships_in_PPP_Manager_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teammemberships","$filter":"teamid eq @{items('Apply_to_each')?['teamid']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_Memberships_in_PPP_Manager_Team')?['body/value']","actions":{"Get_User":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@items('Apply_to_each_2')?['systemuserid']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)":{"runAfter":{"Get_User":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Owner')?['body/internalemailaddress']};","request/subject":"Traveller Validation Decision and Recommendation Discrepancy","request/text":"<p>(This email will be sent to manager @{outputs('Get_User')?['body/internalemailaddress']} after testing)<br>\n<br>\nRecord Number @{triggerOutputs()?['body/ppp_travellerautonumber']} has a Decision that does not match a Recommendation.<br>\n<br>\nRecord created by @{outputs('Owner')?['body/firstname']} @{outputs('Owner')?['body/lastname']}<br>\n<br>\n<br>\n<br>\n<br>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Memberships_in_PPP_Manager_Team":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_Team_with_name_PPP_Manager":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Owner":["Succeeded"]},"expression":{"and":[{"or":[{"not":{"equals":["@triggerOutputs()?['body/ppp_directionoptions']","@triggerOutputs()?['body/ppp_nominatingagencyoptions']"]}},{"not":{"equals":["@triggerOutputs()?['body/ppp_directionoptions']","@triggerOutputs()?['body/ppp_casebriefoptions']"]}}]},{"and":[{"not":{"equals":["@triggerOutputs()?['body/ppp_directionoptions']","@null"]}}]}]},"type":"If"},"Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}