PassengerProtectProgram/Workflows/SetDraftswithFlightOriginDateover7daysagotounresol-E707700D-44B6-EA11-A812-000D3A0C86A9.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_at_1am_everyday":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Eastern Standard Time","schedule":{"hours":["1","14"],"minutes":[12]}},"type":"Recurrence"}},"actions":{"Apply_to_each":{"foreach":"@outputs('List_Draft_Traveller_Records_with_Flight_Origin_date_over_7_days_ago')?['body/value']","actions":{"Set_Status_to_Unresolved_and_clear_personal_data":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ppp_travellers","id":"@items('Apply_to_each')?['ppp_travellerid']","item/ppp_dateofbirth":"@null","item/ppp_finalstatustime":"@utcNow()","item/ppp_firstname":"@null","item/ppp_gender":"@null","item/ppp_lastname":"@null","item/ppp_middlename":"@null","item/ppp_recordstatus":927820005,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Get_Owner":{"runAfter":{"Set_Status_to_Unresolved_and_clear_personal_data":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@items('Apply_to_each')?['_createdby_value']"},"authentication":"@parameters('$authentication')"}},"List_Users_in_PPP_Manager_Team":{"runAfter":{"Get_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"(teammembership_association/any(t:t/name eq 'ppp manager'))"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_Users_in_PPP_Manager_Team')?['body/value']","actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"derek.burney@034gc.onmicrosoft.com;","request/subject":"Traveller Validation Record Number @{items('Apply_to_each')?['ppp_travellerautonumber']} set to Unresolved","request/text":"<p>(email will be sent to manager @{items('Apply_to_each_3')?['internalemailaddress']} after testing)<br>\n<br>\nA Draft record @{items('Apply_to_each')?['ppp_travellerautonumber']}'s status was set to Unresolved due to the Flight Origin Date occuring over 7 days ago, or it being last modified over 7 days ago with no Flight Origin Date set. Any personal information of the traveller will be removed in 7 days.<br>\n<br>\nFlight Origin Date: @{items('Apply_to_each')?['ppp_flightorigindate']}<br>\n<br>\nRecord created by: @{outputs('Get_Owner')?['body/firstname']} @{outputs('Get_Owner')?['body/lastname']}<br>\n<br>\n<br>\n<br>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Users_in_PPP_Manager_Team":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_Draft_Traveller_Records_with_Flight_Origin_date_over_7_days_ago":["Succeeded"]},"type":"Foreach"},"List_Draft_Traveller_Records_with_Flight_Origin_date_over_7_days_ago":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ppp_travellers","$filter":"ppp_recordstatus eq 927820001 and (ppp_flightorigindate lt @{addDays(utcNow(),-7)} or (ppp_flightorigindate eq null and modifiedon lt @{addDays(utcNow(), -7)}))"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}